<p> Bored in line? Earn some money back on your order. Select your restaurant </p>

<% @restaurants.each do |restaurant| %>

<a class= "btn btn-primary btn-lg" href="/restaurants/<%= restaurant.id %>/survey">
  <h1> <%= restaurant.name %> </h1>
</a>

<%end%>
