<div class="container" style="text-align:center">

<h3>Boom. Show this at the register for .10c off.</h3>
  <div class="row">
       <div class="col-sm-offset-1 col-sm-5">
         <img src="http://www.psdgraphics.com/file/trophy-award-icon.jpg" width="350">
       </div>
       <div class="col-sm-offset-0 col-sm-5">

         <img src="http://www.emoderationskills.com/wp-content/uploads/2010/08/QR1.jpg" height="250">
       </div>
   </div>

<!-- <img src="http://www.psdgraphics.com/file/trophy-award-icon.jpg" width="600"> -->

<hr>

<a href="/" class="btn btn-primary">Go Back</a>

</div>
