
<div class="container" style="text-align:center">

<img src="http://www.psdgraphics.com/file/trophy-award-icon.jpg" width="300">

<h3>Thanks! Show this to the cashier for .10c off your order.</h3>

<a href="/" class="btn btn-primary">Go Back</a>

</div>
