Earn some cash by completing this survey.

<br>

<% @restaurant.questions.each do |survey|%>
  <h3> <%= survey.name %> </h3>
  <p> <%= survey.body %> </p>
  <ul>
    <li> <%= survey.option_1 %> </l1>
    <li> <%= survey.option_2 %> </l1>

<%end%>
